<p id="notice"><%= notice %></p>

<p>
  <b> title:</b>
  <%= @game. title %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
