<p id="notice"><%= notice %></p>
<%= link_to 'Back', articles_path %> | 

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete %>

<h2><%= @article. title %></h2>

by <%= @article.author %>, # edits since <%= @article.created_at.strftime("%b. %d, %Y") %>

<p>
  <%= @article.body %>
</p>



