<% content_for :subtitle do %>
	... what's "Articl" in Spanish anyway?
<% end %>

<p id="notice"><%= notice %></p>
<%= link_to (articles_path) do %> <%= image_tag "icons/arrow_left.png" %><span id="tt">Back to Articles</span> <% end %>
<%= link_to (edit_article_path(@article)) do %> <%= image_tag "icons/note_edit.png" %><span id="tt">Edit</span> <% end %>
<%= link_to (@article, :confirm => 'Are you sure?', :method => :delete) do %> <%= image_tag "icons/delete.png" %><span id="tt">Delete</span> <% end %>


<h2><%= @article. title %></h2>

by <%= @article.author %>, <%= @article.created_at.strftime("%b. %d, %Y") %>

<p>
  <%= @article.body %>
</p>



